body{
  margin: 0%;
  padding: 0%;
  background-color: rgb(157, 163, 162);
}

#img{
    height: 40px;
    width: 50px;
    border-radius: 10px;
  }
  #icons{
    height: 40px;
    width: 1515px;
    background-color:rgb(132, 176, 189);
    
  }
  
  #nav{
    background-color:rgb(132, 176, 189);
    
  }
  a{
    color: ;
    
  }
  #secount{
    height: 250px;
    width: 900px;
  
  }
  a:hover{
    background-color: chocolate;
    border-radius: 20px;
  }
  img:hover{
    color: aqua;

  }
