#img{
    height: 40px;
    width: 50px;
    border-radius: 10px;
  }
  #icons{
    height: 50px;
    width: 1345px;
    background-color:rgb(132, 176, 189);
    
  }
  #info{
    height: 70px;
    width: 100px;
    margin: 10px;
  }
  #nav{
    background-color:rgb(132, 176, 189);

  }
  a{
    color: black;
    
  }

